.navbar-brand {
    margin-left: 20px;
    font-size: 20pt;
}

.navbar-nav .nav-item {
    margin-right: 20px;
    font-size: 15pt;
}

.icon {
    height: 50px;
    width: 50px;
}

.brand {
    display: grid;

    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;

    grid-template-areas:
        "top top top";
}

main {
    margin: 15px;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#avatar {
    width: 200px;
    height: auto;
}

.bio {
    margin: 15px;
    text-align: left;
    font-size: 18px;
}

#logo {
    height: auto;
    width: 50px;
}

img {
    padding: 10px;
}

footer {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}
