.navbar-brand {
    margin-left: 20px;
    font-size: 30pt;
}

.navbar-nav .nav-item {
    margin-right: 20px;
    font-size: 15pt;
}

#icon {
    height: 50px;
    width: 50px;
}

main {
    margin: 15px;
    display: flex;
}

#avatar {
    width: 200px;
    height: 200px;
}

.bio {
    margin: 15px;
    text-align: left;
    font-size: 18px;
}

footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}
